.GamePage{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-black);
}
.GamePage > section{
  height: 100%;
  max-width: 980px;
  background-color: var(--bg-color-black);
}
.GamePage > .Main{
  max-width: 980px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
  position: relative;
}

.GamePage > .Main > div{
  width:100%;
}
.GamePage > .Main > .Clients{
  height: 30%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}
.GamePage > .Main > .Kitchen{
  height: 70%;
  background-color: black;
  position: relative;
}
.GamePage > .Main > .Controls{
  height: 10vh;
  background-color: var(--font-color);
}

.GamePage > .Main > .Kitchen > .SideCountertop{
  width: 10vh;
  height: 100%;
  background-color: var(--font-color);
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.GamePage > .Main > .Kitchen > .SideCountertop.Left{
  left: 0;
}
.GamePage > .Main > .Kitchen > .SideCountertop.Right{
  right: 0;
}
.GamePage > .Main > .Kitchen > .SideCountertop > .Inner{
  height: calc(100% - 10vh);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.GamePage > .Main > .Kitchen > .TopCountertop{
  height: 10vh;
  width: calc(100% - 20vh);
  background-color: var(--font-color);
  position: absolute;
  top: 0;
  left: 10vh;
  border-bottom: 15px solid #c79b21;
}