.GamePage{
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-black);
  overflow: hidden;
}
.GamePage > section{
  height: 100%;
  max-width: 980px;
  background-color: var(--bg-color-black);
}
.GamePage > .Main{
  max-width: 980px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
  position: relative;
}

.GamePage > .Main > div{
  width:100%;
}
.GamePage > .Main > .Menu{
  height: 7dvh;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 2%;
  box-sizing: border-box;
  z-index: 8500;
}
.GamePage > .Main > .Clients{
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.GamePage > .Main > .Kitchen{
  height: 70%;
  background-color: var(--bg-color-black);
  position: relative;
}
.GamePage > .Main > .Controls{
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: .1rem;
  align-items: center;
  background-repeat: repeat-x;
  background-size: auto 150px;
}

.GamePage > .Main > .Menu > .Stats{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .4rem;
}
.GamePage > .Main > .Menu .StatsDisplay{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .2rem;
  font-size: var(--font-size-big);
}
.GamePage > .Main > .Menu .StatsImg{
  height: 5dvh;
  width: 5dvh;
}

.GamePage > .Main > .Clients > .Icons{
  position: absolute;
  width: 100%;
  height: 5dvh;
  max-width: 430px;
  align-self: center;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.GamePage > .Main > .Clients > .Queue{
  position: relative;
  width: 100%;
  max-width: 430px;
  height: 100%;
}

.GamePage > .Main > .Kitchen > .SideCountertop{
  width: 115px;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 115px 80px;
}
.GamePage > .Main > .Kitchen > .SideCountertop.Left{
  left: 0;
}
.GamePage > .Main > .Kitchen > .SideCountertop.Right{
  right: 0;
}
.GamePage > .Main > .Kitchen > .SideCountertop > .Inner{
  height: calc(100% - 80px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  background-repeat: repeat-y;
  background-size: 100%;
}
@media screen and (min-width:768px){
  .GamePage > .Main > .Kitchen > .SideCountertop > .Inner{
    justify-content: center;
  }
}
.GamePage > .Main > .Kitchen > .TopCountertop{
  height: 150px;
  width: calc(100% - 20dvh);
  background-color: var(--bg-color-black);
  position: absolute;
  top: 0;
  left: 10vh;
  background-repeat: repeat-x;
}