.MyButton{
  font-family: "Jersey 25", sans-serif;
  font-size: var(--font-size-big);
  font-weight: var(--font-weight);
  color: var(--font-color);
  background-color: var(--accent-color-blue);
  border: 0;
  padding: 0.5rem;
  box-sizing: border-box;
  text-align: center;
}
.MyButton:active{
  background-color: var(--accent-color-blue);
  color: var(--bg-color-black);
}
.MyButton:focus-visible{
  outline: 0;
  background-color: var(--accent-color-blue);
  color: var(--bg-color-black);
}