.TentacleControls{
  width: 10dvh;
  height: 10dvh;
  padding: .5dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}
.TentacleControls[is-active='true'] > section{
  opacity: 1;
}
.TentacleControls[is-active='false'] > section{
  opacity: .5;
}
.TentacleControls .HoldItem, .TentacleControls .TentacleImg{
  width: 100%
}
.TentacleControls .HoldItem{
  position: absolute;
  top: 2px;
  left: 0px;
}
.TentacleControls .HoldItem[food='bun'], .TentacleControls .HoldItem[food='salad'], .TentacleControls .HoldItem[food='fries']{
  width: 85%;
  left: 7.5%;
}
.TentacleControls .HoldItem[food='drink']{
  width: 60%;
  left: 20%;
}
.TentacleControls .TentacleActionButton{
  position: absolute;
  bottom: .1dvh;
  left: -1dvh;
  width: 120%;
  height: 50%;
  clip-path: circle(50% at 50% 0);
  border: 3px solid var(--bg-color-violet);
  background-color: var(--accent-color-pink);;
  position: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Jersey 25", sans-serif;
  color: var(--bg-color-violet);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight);
  opacity: .8;
  padding-bottom: 20%;
}
.TentacleControls .TentacleActionButton .CoinImg{
  width: var(--font-size-medium);
  height: var(--font-size-medium);
}
.TentacleControls .TentacleActionButton:active{
  color: var(--font-color);
}
.TentacleControls .TentacleActionButton:focus-visible{
  color: var(--font-color);
}