.MainPage{
  width: 100%;
  max-width: 500px;
  padding: 3dvh;
  /* background-color: var(--accent-color-blue); */
  
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  overflow: hidden;
}
.Level{
  border: 0.3rem solid var(--accent-color-blue);
  padding: 1rem;
  width: 100%;
}
.MainPage section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.MainPage section h1{
  font-size: var(--font-size-big);
} 
/* .Level a, .MainPage .TutorialLink{ */
.MainPage a{
  text-decoration: none;
  color: var(--font-color);
  font-size: var(--font-size-big);
}