.Device{
  width: 115px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Device[food='salad'], .Device[food='bun']{
  max-width: 90px;
}
.Device[food='meat'], .Device[food='drink'], .Device[food='friess']{
  max-width: 110px;
}
.Device[food='meatC']{
  max-width: 115px;
}
.Device > .Main{
  width: 100%;
  object-fit: contain;
}
.Device[food='drink']{
  height: 115px;
}
.Device[food='drink'] .Main{
  align-self: flex-end;
  position: absolute;
  top: -30px;
}
@media screen and (max-height:880px) {
  .Device{
    width: 100px;
  }
  .Device[food='salad'], .Device[food='bun']{
    max-width: 75px;
  }
  .Device[food='meat'], .Device[food='drink'], .Device[food='friess']{
    max-width: 95px;
  }
  .Device[food='meatC']{
    max-width: 100px;
  }
  .Device[food='drink']{
    height: 100px;
  }
}
.Device > .Status{
  position: absolute;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  background-color: var(--bg-color-black);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 50%;
  left: 11.5px;
}
.Device .Cooked{
  width: 90%;
  height: 90%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.Device .FireHazard{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--accent-color-pink);
  position: absolute;
}